@import url(menu.css);
@font-face {
  font-family: 'Gilroy 800';
  src: url("../fonts/Gilroy-ExtraBold.eot");
  src: local("../fonts/Gilroy ExtraBold"), local("Gilroy-ExtraBold"), url("../fonts/Gilroy-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-ExtraBold.woff") format("woff"), url("../fonts/Gilroy-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Gilroy 700';
  src: url("../fonts/Gilroy-Bold.eot");
  src: local("../fonts/Gilroy Bold"), local("Gilroy-Bold"), url("../fonts/Gilroy-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Gilroy 600';
  src: url("../fonts/Gilroy-SemiBold.eot");
  src: local("../fonts/Gilroy SemiBold"), local("Gilroy-SemiBold"), url("../fonts/Gilroy-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-SemiBold.woff") format("woff"), url("../fonts/Gilroy-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Gilroy 400';
  src: url("../fonts/Gilroy-Regular.eot");
  src: local("../fonts/Gilroy Regular"), local("Gilroy-Regular"), url("../fonts/Gilroy-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Regular.woff") format("woff"), url("../fonts/Gilroy-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Gilroy 300';
  src: url("../fonts/Gilroy-Light.eot");
  src: local("../fonts/Gilroy Light"), local("Gilroy-Light"), url("../fonts/Gilroy-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Light.woff") format("woff"), url("../fonts/Gilroy-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap; }
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

a {
  text-decoration: none; }

ul, li, ol {
  list-style: none; }

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  font-size: inherit; }

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px; }

header {
  padding-top: 22px;
  padding-bottom: 15px;
  background: #FFFBF7;
  top: 0;
  width: 100%;
  z-index: 2; }
  header .header_row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
    position: relative; }
    @media screen and (max-width: 768px) {
      header .header_row {
        justify-content: center; } }
    header .header_row .logo_wrapper {
      max-width: 540px;
      justify-content: space-between;
      display: flex;
      align-items: start; }
      @media screen and (max-width: 1150px) {
        header .header_row .logo_wrapper {
          align-items: center; } }
      @media screen and (max-width: 991px) {
        header .header_row .logo_wrapper {
          max-width: 400px; } }
      header .header_row .logo_wrapper img {
        display: block;
        max-width: 250px;
        width: 100%;
        margin-right: 30px; }
        @media screen and (max-width: 991px) {
          header .header_row .logo_wrapper img {
            max-width: 170px; } }
      header .header_row .logo_wrapper p {
        max-width: 255px;
        margin: 0;
        font-family: 'Gilroy 600', serif;
        font-style: normal;
        font-weight: 600;
        font-size: 13px;
        line-height: 18px;
        letter-spacing: 0.08em;
        color: #2B2A28; }
        @media screen and (max-width: 1150px) {
          header .header_row .logo_wrapper p {
            font-size: 12px;
            max-width: 180px; } }
        @media screen and (max-width: 991px) {
          header .header_row .logo_wrapper p {
            font-size: 10px;
            max-width: 150px; } }
        @media screen and (max-width: 768px) {
          header .header_row .logo_wrapper p {
            display: none; } }
    header .header_row .contact_us {
      max-width: 140px; }
      @media screen and (max-width: 768px) {
        header .header_row .contact_us {
          display: none; } }
      header .header_row .contact_us p {
        font-family: 'Gilroy 600', serif;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 0.08em;
        color: #2B2A28;
        margin-bottom: 4px; }
        @media screen and (max-width: 991px) {
          header .header_row .contact_us p {
            font-size: 10px; } }
      header .header_row .contact_us .header_messengers {
        display: flex;
        align-items: center; }
        header .header_row .contact_us .header_messengers a {
          display: inline-block;
          margin-right: 4px;
          text-decoration: none; }
          header .header_row .contact_us .header_messengers a span {
            display: flex;
            justify-content: center;
            align-items: center;
            background: #0DC143;
            width: 26px;
            height: 26px;
            border-radius: 50%; }
            header .header_row .contact_us .header_messengers a span:before {
              display: inline-block;
              content: "\f409";
              font-family: "Font Awesome 6 Brands", serif;
              font-weight: 400;
              font-size: 16px;
              color: white; }
          header .header_row .contact_us .header_messengers a:first-of-type span {
            background: #419FD9; }
            header .header_row .contact_us .header_messengers a:first-of-type span:before {
              content: "\f1d8";
              display: inline-block;
              font-family: "Font Awesome 6 Free", serif;
              font-weight: 400;
              font-size: 13px;
              position: relative;
              left: -1px; }
          header .header_row .contact_us .header_messengers a:last-of-type span {
            background: #675DA9; }
            header .header_row .contact_us .header_messengers a:last-of-type span:before {
              display: inline-block;
              content: "\f232";
              font-weight: 400;
              font-size: 17px;
              color: white;
              position: relative;
              top: -1px;
              left: 1px; }
    header .header_row .header_tel {
      max-width: 190px; }
      @media screen and (max-width: 768px) {
        header .header_row .header_tel {
          display: none; } }
      header .header_row .header_tel p:first-of-type {
        font-family: 'Gilroy 700', serif;
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 16px;
        color: #2B2A28;
        margin-bottom: 7px;
        text-align: right; }
        @media screen and (max-width: 1150px) {
          header .header_row .header_tel p:first-of-type {
            font-size: 15px; } }
        @media screen and (max-width: 991px) {
          header .header_row .header_tel p:first-of-type {
            font-size: 13px; } }
        @media screen and (max-width: 800px) {
          header .header_row .header_tel p:first-of-type {
            font-size: 11px; } }
      header .header_row .header_tel p:last-of-type {
        font-family: 'Gilroy 400', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 0.08em;
        color: #2B2A28;
        text-align: end; }
        @media screen and (max-width: 1150px) {
          header .header_row .header_tel p:last-of-type {
            font-size: 10px; } }
        @media screen and (max-width: 800px) {
          header .header_row .header_tel p:last-of-type {
            font-size: 8px; } }
    header .header_row .header_button {
      max-width: 160px; }
      @media screen and (max-width: 768px) {
        header .header_row .header_button {
          display: none; } }
      header .header_row .header_button .btn_header {
        box-sizing: border-box;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-align-self: center;
        -ms-flex-item-align: center;
        align-self: center;
        padding: 16px 25px;
        text-decoration: none;
        text-align: center;
        font-family: 'Gilroy 700', serif;
        font-style: normal;
        font-weight: 700;
        font-size: 13px;
        line-height: 16px;
        text-align: center;
        color: #FFFFFF; }
        @media screen and (max-width: 991px) {
          header .header_row .header_button .btn_header {
            padding: 10px 15px;
            font-size: 10px; } }
      header .header_row .header_button .btn_header:hover, header .header_row .header_button .btn_header:focus {
        color: white;
        outline: 0; }
      header .header_row .header_button .btn_header {
        color: #fff;
        background: linear-gradient(180deg, #F39C32 0%, #CB8734 100%);
        -webkit-transition: all 150ms ease-in-out;
        transition: all 150ms ease-in-out; }
      header .header_row .header_button .btn_header:hover {
        box-shadow: 0 0 20px 0 #F39C32 inset, 0 0 20px 4px #F39C32; }
      header .header_row .header_button p {
        font-family: 'Gilroy 400', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 11px;
        line-height: 18px;
        letter-spacing: 0.08em;
        color: #2B2A28;
        text-align: center; }
        @media screen and (max-width: 991px) {
          header .header_row .header_button p {
            font-size: 9px; } }
    header .header_row .header_button {
      max-width: 160px; }
      @media screen and (max-width: 768px) {
        header .header_row .header_button {
          display: none; } }
      header .header_row .header_button a {
        text-decoration: none;
        display: inline-block;
        font-family: 'Gilroy 700', serif;
        font-style: normal;
        font-weight: 700;
        font-size: 13px;
        line-height: 16px;
        text-align: center;
        color: #FFFFFF;
        padding: 15px 25px;
        background: linear-gradient(180deg, #F39C32 0%, #CB8734 100%);
        box-shadow: 0 4px 4px rgba(203, 135, 52, 0.2);
        border-radius: 4px;
        margin-bottom: 7px; }
        @media screen and (max-width: 1150px) {
          header .header_row .header_button a {
            padding: 10px 17px; } }
        @media screen and (max-width: 991px) {
          header .header_row .header_button a {
            font-size: 10px; } }
      header .header_row .header_button p {
        font-family: 'Gilroy 400', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 11px;
        line-height: 18px;
        letter-spacing: 0.08em;
        color: #2B2A28;
        text-align: center; }
        @media screen and (max-width: 991px) {
          header .header_row .header_button p {
            font-size: 9px; } }
    header .header_row .header_language {
      max-width: 35px;
      display: flex;
      align-items: center;
      position: relative;
      top: -12px; }
      @media screen and (max-width: 768px) {
        header .header_row .header_language {
          display: none; } }
      header .header_row .header_language a {
        display: inline-block;
        margin-right: 5px; }
        header .header_row .header_language a img {
          display: block;
          width: 21px; }
      header .header_row .header_language i {
        font-size: 12px; }
  header .mobile_phone_icon {
    display: none; }
    @media screen and (max-width: 768px) {
      header .mobile_phone_icon {
        display: block;
        position: absolute;
        top: 6px;
        right: 15px; } }
    header .mobile_phone_icon a {
      display: inline-block;
      text-decoration: none;
      padding: 10px;
      background: #D6D6D6;
      border-radius: 4px;
      color: white; }
  header .circle1 {
    border-radius: 100%;
    width: 30px;
    height: 30px;
    -webkit-animation: pulsing1 3s infinite;
    animation: pulsing1 3s infinite; }
@-webkit-keyframes pulsing {
  0% {
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5); }
  50% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1); }
  100% {
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5); } }
@keyframes pulsing1 {
  0% {
    -webkit-transform: scale(0.8, 0.8);
    transform: scale(0.8, 0.8); }
  50% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1); }
  100% {
    -webkit-transform: scale(0.8, 0.8);
    transform: scale(0.8, 0.8); } }
  header .circle2 {
    border-radius: 100%;
    width: 30px;
    height: 30px;
    -webkit-animation: pulsing1 3.1s infinite;
    animation: pulsing1 3.1s infinite; }
@keyframes pulsing1 {
  0% {
    -webkit-transform: scale(0.8, 0.8);
    transform: scale(0.8, 0.8); }
  50% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1); }
  100% {
    -webkit-transform: scale(0.8, 0.8);
    transform: scale(0.8, 0.8); } }
  header .circle3 {
    border-radius: 100%;
    width: 30px;
    height: 30px;
    -webkit-animation: pulsing1 3.2s infinite;
    animation: pulsing1 3.2s infinite; }
@keyframes pulsing3 {
  0% {
    -webkit-transform: scale(0.8, 0.8);
    transform: scale(0.8, 0.8); }
  50% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1); }
  100% {
    -webkit-transform: scale(0.8, 0.8);
    transform: scale(0.8, 0.8); } }
.main_banner {
  background: #FFFBF7; }
  .main_banner .owl-carousel1 .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
    @media screen and (max-width: 986px) {
      .main_banner .owl-carousel1 .container {
        justify-content: center; } }
    .main_banner .owl-carousel1 .container .left_side {
      flex-basis: 551px;
      flex-shrink: 0;
      align-self: center; }
      @media screen and (max-width: 986px) {
        .main_banner .owl-carousel1 .container .left_side {
          flex-shrink: 1;
          justify-content: center;
          margin-bottom: 30px; } }
      .main_banner .owl-carousel1 .container .left_side h1 {
        font-family: 'Gilroy 800', serif;
        font-style: normal;
        font-weight: 800;
        font-size: 38px;
        line-height: 50px;
        color: #2B2A28;
        margin-bottom: 8px; }
        @media screen and (max-width: 986px) {
          .main_banner .owl-carousel1 .container .left_side h1 {
            font-size: 33px; } }
        @media screen and (max-width: 540px) {
          .main_banner .owl-carousel1 .container .left_side h1 {
            font-size: 25px;
            line-height: 30px; } }
      .main_banner .owl-carousel1 .container .left_side p {
        font-family: 'Gilroy 400', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
        color: #2B2A28;
        margin-bottom: 26px; }
        @media screen and (max-width: 986px) {
          .main_banner .owl-carousel1 .container .left_side p {
            font-size: 15px; } }
      .main_banner .owl-carousel1 .container .left_side .slider_button {
        display: flex;
        align-items: center; }
        @media screen and (max-width: 986px) {
          .main_banner .owl-carousel1 .container .left_side .slider_button {
            justify-content: space-between; } }
        .main_banner .owl-carousel1 .container .left_side .slider_button a:first-of-type {
          display: inline-block;
          font-family: 'Gilroy 700', serif;
          font-style: normal;
          font-weight: 700;
          font-size: 16px;
          line-height: 16px;
          align-items: center;
          text-align: center;
          color: #FFFFFF;
          padding: 20px 30px;
          background: linear-gradient(180deg, #F39C32 0%, #CB8734 100%);
          box-shadow: 0 4px 4px rgba(203, 135, 52, 0.2);
          border-radius: 4px;
          text-decoration: none;
          margin-right: 80px; }
          @media screen and (max-width: 986px) {
            .main_banner .owl-carousel1 .container .left_side .slider_button a:first-of-type {
              margin-right: 0; } }
          @media screen and (max-width: 768px) {
            .main_banner .owl-carousel1 .container .left_side .slider_button a:first-of-type {
              font-size: 14px; } }
          @media screen and (max-width: 540px) {
            .main_banner .owl-carousel1 .container .left_side .slider_button a:first-of-type {
              font-size: 12px;
              padding: 10px; } }
        .main_banner .owl-carousel1 .container .left_side .slider_button a:last-of-type {
          font-family: 'Gilroy 600', serif;
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 16px;
          color: #CB8734;
          text-decoration: none;
          display: flex;
          align-items: center; }
          @media screen and (max-width: 540px) {
            .main_banner .owl-carousel1 .container .left_side .slider_button a:last-of-type {
              font-size: 12px; } }
          .main_banner .owl-carousel1 .container .left_side .slider_button a:last-of-type span {
            border: 1.5px solid #CB8734;
            height: 30px;
            width: 30px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 12px; }
            @media screen and (max-width: 540px) {
              .main_banner .owl-carousel1 .container .left_side .slider_button a:last-of-type span {
                margin-right: 5px; } }
            .main_banner .owl-carousel1 .container .left_side .slider_button a:last-of-type span:before {
              content: "\f105";
              font-family: "Font Awesome 6 Free", serif;
              font-weight: 900; }
    .main_banner .owl-carousel1 .container .right_side {
      flex-basis: 580px;
      flex-shrink: 0;
      display: flex;
      justify-content: end; }
      @media screen and (max-width: 1168px) {
        .main_banner .owl-carousel1 .container .right_side {
          flex-basis: 400px; } }
      @media screen and (max-width: 986px) {
        .main_banner .owl-carousel1 .container .right_side {
          flex-basis: 100%;
          justify-content: center; } }
      .main_banner .owl-carousel1 .container .right_side img {
        display: block;
        width: 100%; }
        @media screen and (max-width: 1168px) {
          .main_banner .owl-carousel1 .container .right_side img {
            width: 100%; } }
        @media screen and (max-width: 986px) {
          .main_banner .owl-carousel1 .container .right_side img {
            width: 70%; } }

.why_we {
  background: #FFFBF7; }
  .why_we .main_bg .preferences {
    background: #FFFFFF;
    box-shadow: 0 0 30px rgba(43, 42, 40, 0.08);
    border-radius: 8px;
    padding-top: 56px;
    padding-bottom: 50px; }
    .why_we .main_bg .preferences h2 {
      font-family: 'Gilroy 700', serif;
      font-style: normal;
      font-weight: 700;
      font-size: 36px;
      line-height: 58px;
      color: #2B2A28;
      margin-bottom: 33px; }
      @media screen and (max-width: 600px) {
        .why_we .main_bg .preferences h2 {
          text-align: center; } }
      @media screen and (max-width: 500px) {
        .why_we .main_bg .preferences h2 {
          font-size: 32px; } }
    .why_we .main_bg .preferences .preferences_icons {
      display: flex;
      justify-content: space-between;
      text-align: center;
      flex-wrap: wrap;
      padding: 0; }
      @media screen and (max-width: 1080px) {
        .why_we .main_bg .preferences .preferences_icons {
          justify-content: space-around; } }
      @media screen and (max-width: 600px) {
        .why_we .main_bg .preferences .preferences_icons {
          flex-direction: column;
          align-items: center; } }
      .why_we .main_bg .preferences .preferences_icons .pref1 {
        flex-basis: 260px;
        padding: 5px;
        flex-wrap: wrap;
        margin-bottom: 10px; }
        @media screen and (max-width: 600px) {
          .why_we .main_bg .preferences .preferences_icons .pref1 {
            flex-basis: inherit;
            width: 250px;
            margin-bottom: 20px; } }
      .why_we .main_bg .preferences .preferences_icons img {
        display: inline-block; }
      .why_we .main_bg .preferences .preferences_icons p {
        font-family: 'Gilroy 700', serif;
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        line-height: 30px;
        color: #2B2A28; }
        @media screen and (max-width: 768px) {
          .why_we .main_bg .preferences .preferences_icons p {
            font-size: 13px; } }

.catalog {
  background: url("../images/catalog_bg.webp") 700px 150px no-repeat;
  padding: 100px 0 100px 0; }
  @media screen and (max-width: 1600px) {
    .catalog {
      background-position: 550px 150px; } }
  @media screen and (max-width: 1400px) {
    .catalog {
      background-position: 300px 150px; } }
  @media screen and (max-width: 768px) {
    .catalog {
      background: inherit; } }
  .catalog h2 {
    font-family: 'Gilroy 700', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 58px;
    color: #2B2A28;
    margin-bottom: 26px; }
  .catalog h4 {
    font-family: 'Gilroy 400', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    color: #2B2A28;
    margin-bottom: 9px; }
  .catalog p {
    font-family: 'Gilroy 300', serif;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 28px;
    color: #2B2A28;
    margin-bottom: 23px; }
  .catalog a {
    display: flex;
    font-family: 'Gilroy 600', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 16px;
    color: #CB8734;
    text-decoration: none;
    align-items: center; }
    @media screen and (max-width: 768px) {
      .catalog a {
        font-size: 12px; } }
    .catalog a span {
      margin-right: 12px;
      display: flex;
      width: 30px;
      height: 30px;
      border: 1.5px solid #CB8734;
      border-radius: 50%;
      justify-content: center;
      align-items: center; }
      .catalog a span:before {
        content: "\f105";
        font-family: "Font Awesome 6 Free", serif;
        font-weight: 900; }
  .catalog .catalog_container_up {
    max-width: 770px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px; }
    @media screen and (max-width: 771px) {
      .catalog .catalog_container_up {
        justify-content: center;
        margin-bottom: inherit; } }
    .catalog .catalog_container_up .item {
      flex-basis: 370px;
      flex-shrink: 0;
      background: #FFFFFF;
      box-shadow: 0 0 30px rgba(43, 42, 40, 0.08);
      border-radius: 0 40px 0 0;
      padding: 5px 5px 50px 5px; }
      @media screen and (max-width: 775px) {
        .catalog .catalog_container_up .item {
          margin-bottom: 20px; } }
      @media screen and (max-width: 450px) {
        .catalog .catalog_container_up .item {
          flex-shrink: 1; } }
      .catalog .catalog_container_up .item .item_img {
        width: 100%;
        height: 230px;
        border-radius: 0 36px;
        background: #FFFFFF;
        overflow: hidden;
        margin-bottom: 36px; }
        .catalog .catalog_container_up .item .item_img img {
          display: block;
          width: 100%;
          height: 100%; }
      .catalog .catalog_container_up .item .category_text {
        max-width: 305px;
        margin-left: 45px; }
  .catalog .catalog_container_down {
    max-width: 770px;
    padding: 5px; }
    @media screen and (max-width: 772px) {
      .catalog .catalog_container_down {
        max-width: 370px;
        margin: auto; } }
    .catalog .catalog_container_down .item_2 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: #FFFFFF;
      box-shadow: 0 0 30px rgba(43, 42, 40, 0.08);
      border-radius: 0 40px 0 0;
      padding: 5px; }
      @media screen and (max-width: 772px) {
        .catalog .catalog_container_down .item_2 {
          flex-direction: column;
          padding: 5px; } }
      .catalog .catalog_container_down .item_2 .category_text {
        margin-left: 45px;
        max-width: 280px; }
        @media screen and (max-width: 772px) {
          .catalog .catalog_container_down .item_2 .category_text {
            order: 2;
            margin-bottom: 50px; } }
    .catalog .catalog_container_down .item_img {
      max-width: 420px;
      width: 100%;
      height: 310px;
      border-radius: 0 36px;
      background: #FFFFFF;
      overflow: hidden; }
      @media screen and (max-width: 772px) {
        .catalog .catalog_container_down .item_img {
          height: 230px;
          order: 1;
          margin-bottom: 36px; }
          .catalog .catalog_container_down .item_img .img {
            display: block;
            width: 100%; } }

.construction {
  padding: 120px 0 120px 0;
  background: #FFFBF7; }
  .construction h2 {
    font-family: 'Gilroy 700', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    color: #2B2A28;
    margin-bottom: 58px; }
  .construction h4 {
    font-family: 'Gilroy 400', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #2B2A28;
    margin-bottom: 10px; }
    @media screen and (max-width: 570px) {
      .construction h4 {
        font-size: 25px; } }
    @media screen and (max-width: 400px) {
      .construction h4 {
        font-size: 20px;
        line-height: 25px; } }
  .construction p {
    font-family: 'Gilroy 300', serif;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 30px;
    color: #2B2A28;
    max-width: 485px; }
    @media screen and (max-width: 570px) {
      .construction p {
        font-size: 12px; } }
    @media screen and (max-width: 400px) {
      .construction p {
        line-height: 20px; } }
  .construction span {
    font-family: 'Gilroy 800', serif;
    font-style: normal;
    font-weight: 800;
    font-size: 140px;
    line-height: 30px;
    text-align: right;
    color: #CB8734;
    opacity: 0.1;
    position: absolute;
    bottom: 34px;
    right: 15px;
    display: block; }
    @media screen and (max-width: 400px) {
      .construction span {
        font-size: 100px; } }
  .construction .flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0; }
    @media screen and (max-width: 1139px) {
      .construction .flex {
        justify-content: center; } }
    .construction .flex .constr_item {
      flex-basis: 570px;
      padding: 42px 39px 50px 39px;
      margin-bottom: 58px;
      background: #FFFFFF;
      box-shadow: 0 0 30px rgba(43, 42, 40, 0.08);
      border-radius: 8px;
      position: relative; }
      @media screen and (max-width: 1139px) {
        .construction .flex .constr_item {
          margin-bottom: 58px; } }
      @media screen and (max-width: 500px) {
        .construction .flex .constr_item {
          padding-left: 15px;
          padding-right: 15px; } }
      .construction .flex .constr_item img {
        display: block;
        position: absolute;
        top: -47px;
        right: 26px; }
        @media screen and (max-width: 570px) {
          .construction .flex .constr_item img {
            width: 30%; } }
      .construction .flex .constr_item .const2_img {
        top: -70px;
        right: 10px;
        z-index: 2; }
        @media screen and (max-width: 450px) {
          .construction .flex .constr_item .const2_img {
            top: -40px; } }
      @media screen and (max-width: 450px) {
        .construction .flex .constr_item .const3_img {
          top: -10px; } }
  .construction .construction_slide1 {
    height: 520px;
    width: 100%;
    border: 1px solid black;
    border-radius: 0 100px;
    overflow: hidden; }

/*# sourceMappingURL=style.css.map */
