@font-face {
  font-family: 'Gilroy 800';
  src: url('../fonts/Gilroy-ExtraBold.eot');
  src: local('../fonts/Gilroy ExtraBold'), local('Gilroy-ExtraBold'),
  url('../fonts/Gilroy-ExtraBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Gilroy-ExtraBold.woff') format('woff'),
  url('../fonts/Gilroy-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy 700';
  src: url('../fonts/Gilroy-Bold.eot');
  src: local('../fonts/Gilroy Bold'), local('Gilroy-Bold'),
  url('../fonts/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Gilroy-Bold.woff') format('woff'),
  url('../fonts/Gilroy-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}


@font-face {
  font-family: 'Gilroy 600';
  src: url('../fonts/Gilroy-SemiBold.eot');
  src: local('../fonts/Gilroy SemiBold'), local('Gilroy-SemiBold'),
  url('../fonts/Gilroy-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Gilroy-SemiBold.woff') format('woff'),
  url('../fonts/Gilroy-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy 400';
  src: url('../fonts/Gilroy-Regular.eot');
  src: local('../fonts/Gilroy Regular'), local('Gilroy-Regular'),
  url('../fonts/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Gilroy-Regular.woff') format('woff'),
  url('../fonts/Gilroy-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy 300';
  src: url('../fonts/Gilroy-Light.eot');
  src: local('../fonts/Gilroy Light'), local('Gilroy-Light'),
  url('../fonts/Gilroy-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Gilroy-Light.woff') format('woff'),
  url('../fonts/Gilroy-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@import "menu.css";
@mixin max-screen($res) {
  @media screen and (max-width: $res) {
    @content;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  //background: rgba(172,173,139,0.67) !important;
  //outline: 1px solid limegreen !important;
}


.container {
  max-width: 1170px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}


header {
  padding-top: 22px;
  padding-bottom: 15px;
  background: #FFFBF7;
  margin-bottom: 18px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;

  .header_row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
    position: relative;
    @include max-screen(768px){
      justify-content: center;
    }
  }

  .logo_wrapper {
    max-width: 540px;
    justify-content: space-between;
    display: flex;
    align-items: start;

    @include max-screen(1150px) {
      align-items: center;
    }
    @include max-screen(991px) {
      max-width: 400px;
    }

    img {
      display: block;
      max-width: 250px;
      width: 100%;
      margin-right: 30px;
      @include max-screen(991px) {
        max-width: 170px;
      }
    }

    p {
      max-width: 255px;
      margin: 0;
      font-family: 'Gilroy 600', serif;
      font-style: normal;
      font-weight: 600;
      font-size: 13px;
      line-height: 18px;
      letter-spacing: 0.08em;
      color: #2B2A28;
      @include max-screen(1150px) {
        font-size: 12px;
        max-width: 180px;
      }
      @include max-screen(991px) {
        font-size: 10px;
        max-width: 150px;
      }
      @include max-screen(768px){
        display: none;
      }
    }
  }

  .contact_us {
    max-width: 140px;
      display: none;
    }

    p {
      font-family: 'Gilroy 600', serif;
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 18px;
      letter-spacing: 0.08em;
      color: #2B2A28;
      margin-bottom: 4px;
      @include max-screen(991px) {
        font-size: 10px;
      }
    }

    .header_messengers {
      display: flex;
      align-items: center;

      a {
        display: inline-block;
        margin-right: 4px;
        text-decoration: none;

        span {
          display: flex;
          justify-content: center;
          align-items: center;
          background: #0DC143;
          width: 26px;
          height: 26px;
          border-radius: 50%;

          &:before {
            display: inline-block;
            content: "\f409";
            font-family: "Font Awesome 6 Brands", serif;
            font-weight: 400;
            font-size: 16px;
            color: white;

          }
        }

        &:first-of-type span {
          background: #419FD9;

          &:before {
            content: "\f1d8";
            display: inline-block;
            font-family: "Font Awesome 6 Free", serif;
            font-weight: 400;
            font-size: 13px;
            position: relative;
            left: -1px;
          }
        }

        &:last-of-type span {
          background: #675DA9;

          &:before {
            display: inline-block;
            content: "\f232";

            font-weight: 400;
            font-size: 17px;
            color: white;
          }
        }
      }
    }
  }

  .header_tel {
    max-width: 180px;
    @include max-screen(768px) {
      display: none;
    }

    p:first-of-type {
      font-family: 'Gilroy 700', serif;
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 16px;
      color: #2B2A28;
      margin-bottom: 7px;
      text-align: right;
      @include max-screen(1150px) {
        font-size: 15px;
      }
      @include max-screen(991px) {
        font-size: 13px;
      }
    }

    p:last-of-type {
      font-family: 'Gilroy 400', serif;
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;
      letter-spacing: 0.08em;
      color: #2B2A28;
      text-align: end;
      @include max-screen(1150px) {
        font-size: 10px;
      }
    }
  }

  .header_buttom {
    max-width: 160px;
    @include max-screen(768px) {
      display: none;
    }

    a {
      text-decoration: none;
      display: inline-block;
      font-family: 'Gilroy 700', serif;
      font-style: normal;
      font-weight: 700;
      font-size: 13px;
      line-height: 16px;
      text-align: center;
      color: #FFFFFF;
      padding: 15px 25px;
      background: linear-gradient(180deg, #F39C32 0%, #CB8734 100%);
      box-shadow: 0 4px 4px rgba(203, 135, 52, 0.2);
      border-radius: 4px;
      margin-bottom: 7px;
      @include max-screen(1150px) {
        padding: 10px 17px;
      }
      @include max-screen(991px) {
        font-size: 10px;
      }
    }

    p {
      font-family: 'Gilroy 400', serif;
      font-style: normal;
      font-weight: 400;
      font-size: 11px;
      line-height: 18px;
      letter-spacing: 0.08em;
      color: #2B2A28;
      text-align: center;
      @include max-screen(991px) {
        font-size: 9px;
      }
    }
  }

  .header_language {
    max-width: 35px;
    display: flex;
    align-items: center;
    position: relative;
    top: -12px;
    @include max-screen(768px) {
      display: none;
    }

    a {
      display: inline-block;
      margin-right: 5px;

      img {
        display: block;
        width: 21px;
      }
    }

    i {
      font-size: 12px;
    }
  }
  .mobile_phone_icon{
    display: none;
    @include max-screen(768px){
      display: block;
      position: absolute;
      top: 6px;
      right: 15px;
    }
    a{
      display: inline-block;
      text-decoration: none;
      padding: 10px;
      background: #D6D6D6;
      border-radius: 4px;
      color: white;
    }
  }


.main_slider {
  height: 100vh;
  background: #FFFBF7;
  display: flex;
  align-items: center;

  .owl-carousel_1 {
    margin-top: 200px;
  }

  .first_slide {
    display: flex;

    .main_slider_left {
      padding-top: 120px;
      max-width: 551px;

      h1 {
        font-family: 'Gilroy 800', serif;
        font-style: normal;
        font-weight: 800;
        font-size: 38px;
        line-height: 50px;
        color: #2B2A28;
        margin-bottom: 8px;
      }

      p {
        font-family: 'Gilroy 400', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
        color: #2B2A28;
        margin-bottom: 26px;
      }

      .slider_button {
        display: flex;
        align-items: center;

        a:first-of-type {
          display: inline-block;
          font-family: 'Gilroy 700', serif;
          font-style: normal;
          font-weight: 700;
          font-size: 16px;
          line-height: 16px;
          align-items: center;
          text-align: center;
          color: #FFFFFF;
          padding: 20px 30px;
          background: linear-gradient(180deg, #F39C32 0%, #CB8734 100%);
          box-shadow: 0 4px 4px rgba(203, 135, 52, 0.2);
          border-radius: 4px;
          text-decoration: none;
          margin-right: 80px;
        }

        a:last-of-type {
          font-family: 'Gilroy 600', serif;
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 16px;
          color: #CB8734;
          text-decoration: none;
          display: flex;
          align-items: center;

          span {
            border: 1.5px solid #CB8734;
            height: 30px;
            width: 30px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 12px;

            &:before {
              content: "\f105";
              font-family: "Font Awesome 6 Free", serif;
              font-weight: 900;
            }
          }

        }
      }
    }

    .main_slider_right {
      max-width: 615px;

      img {
        display: block;
        width: 100%;
      }
    }
  }
}

.why_we {
  height: 400px;
  background: #FFFBF7 0 no-repeat;
  position: relative;

  .main_bg {
    height: 200px;

    .preferences {
      background: #FFFFFF;
      box-shadow: 0 0 30px rgba(43, 42, 40, 0.08);
      border-radius: 8px;
      padding: 56px 60px 50px 60px;
      position: relative;
      top: 40px;

      h2 {
        font-family: 'Gilroy 700', serif;
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 58px;
        color: #2B2A28;
        margin-bottom: 33px;
      }

      .preferences_icons {
        display: flex;
        justify-content: space-between;
        text-align: center;

        .pref1 {
          max-width: 240px;
          padding: 5px;

        }

        img {
          display: inline-block;
        }

        p {
          font-family: 'Gilroy 700', serif;
          font-style: normal;
          font-weight: 700;
          font-size: 15px;
          line-height: 30px;
          color: #2B2A28;
        }
      }
    }
  }

  .white_bg {
    background: white;
    height: 200px;
  }
}

.catalog {
  padding: 50px 0 150px 0;
  background: white url("../images/catalog_bg.webp") 700px 150px no-repeat;

  h2 {
    font-family: 'Gilroy 700', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 58px;
    color: #2B2A28;
    margin-bottom: 26px;
  }

  .upper_side {
    max-width: 800px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;

    .zhiloe {
      max-width: 370px;
      width: 100%;
      background: #FFFFFF;
      box-shadow: 0 0 30px rgba(43, 42, 40, 0.08);
      padding: 5px 5px 50px 5px;

      .category_photo {
        max-width: 360px;
        border-bottom-left-radius: 36px;
        border-top-right-radius: 36px;
        overflow: hidden;
        height: 230px;
        margin-bottom: 36px;
        width: 100%;

        img {
          display: block;
          width: 100%;
        }
      }

      .category_description {
        max-width: 301px;
        margin-left: 50px;
      }

      h3 {
        font-family: 'Gilroy 400', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 30px;
        color: #2B2A28;
        margin-bottom: 9px;
      }

      p {
        font-family: 'Gilroy 300', serif;
        font-style: normal;
        font-weight: 300;
        font-size: 15px;
        line-height: 28px;
        color: #2B2A28;
        margin-bottom: 14px;
      }

      a {
        display: flex;
        font-family: 'Gilroy 600', serif;
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 16px;
        color: #CB8734;
        text-decoration: none;
        align-items: center;

        span {
          margin-right: 12px;
          display: flex;
          width: 30px;
          height: 30px;
          border: 1.5px solid #CB8734;
          border-radius: 50%;
          justify-content: center;
          align-items: center;
          &:before {
            content: "\f105";
            font-family: "Font Awesome 6 Free", serif;
            font-weight: 900;
          }
        }
      }
    }
  }
  .down_side{
    max-width: 770px;
    padding: 5px 5px  5px 50px;
    background: #FFFFFF;
    box-shadow: 0 0 30px rgba(43, 42, 40, 0.08);
    border-radius: 0 40px 0 0;
    display: flex;
    justify-content: space-between;
    .category_description{
      max-width: 236px;
      padding-top: 50px;
      h3{
        font-family: 'Gilroy 400', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 30px;
        color: #2B2A28;
        margin-bottom: 8px;
      }
      p{
        font-family: 'Gilroy 300', serif;
        font-style: normal;
        font-weight: 300;
        font-size: 15px;
        line-height: 28px;
        color: #2B2A28;
        margin-bottom: 37px;
      }
      a{
        font-family: 'Gilroy 600', serif;
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 16px;
        display: flex;
        align-items: center;
        color: #CB8734;
        text-decoration: none;
        span {
          margin-right: 12px;
          display: flex;
          width: 30px;
          height: 30px;
          border: 1.5px solid #CB8734;
          border-radius: 50%;
          justify-content: center;
          align-items: center;
          &:before {
            content: "\f105";
            font-family: "Font Awesome 6 Free", serif;
            font-weight: 900;
          }

        }
      }
    }
    .category_photo{
      max-width: 420px;
      width: 100%;
      height: 310px;
      background: #FFFFFF;
      box-shadow: 0 0 30px rgba(43, 42, 40, 0.08);
      border-radius: 0 36px 0 36px;
      overflow: hidden;
      img{
        display: block;
        width: 100%;

      }
    }
  }
}

