@import url(menu.css);
@font-face {
  font-family: 'Gilroy 800';
  src: url("../fonts/Gilroy-ExtraBold.eot");
  src: local("../fonts/Gilroy ExtraBold"), local("Gilroy-ExtraBold"), url("../fonts/Gilroy-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-ExtraBold.woff") format("woff"), url("../fonts/Gilroy-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal; }
@font-face {
  font-family: 'Gilroy 700';
  src: url("../fonts/Gilroy-Bold.eot");
  src: local("../fonts/Gilroy Bold"), local("Gilroy-Bold"), url("../fonts/Gilroy-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'Gilroy 600';
  src: url("../fonts/Gilroy-SemiBold.eot");
  src: local("../fonts/Gilroy SemiBold"), local("Gilroy-SemiBold"), url("../fonts/Gilroy-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-SemiBold.woff") format("woff"), url("../fonts/Gilroy-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }
@font-face {
  font-family: 'Gilroy 400';
  src: url("../fonts/Gilroy-Regular.eot");
  src: local("../fonts/Gilroy Regular"), local("Gilroy-Regular"), url("../fonts/Gilroy-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Regular.woff") format("woff"), url("../fonts/Gilroy-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Gilroy 300';
  src: url("../fonts/Gilroy-Light.eot");
  src: local("../fonts/Gilroy Light"), local("Gilroy-Light"), url("../fonts/Gilroy-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Light.woff") format("woff"), url("../fonts/Gilroy-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px; }

header {
  padding-top: 22px;
  padding-bottom: 15px;
  background: #FFFBF7;
  margin-bottom: 18px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1; }
  header .header_row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px; }
  header .logo_wrapper {
    max-width: 540px;
    justify-content: space-between;
    display: flex;
    align-items: start; }
    @media screen and (max-width: 768px) {
      header .logo_wrapper {
        display: none; } }
    @media screen and (max-width: 1150px) {
      header .logo_wrapper {
        align-items: center; } }
    @media screen and (max-width: 991px) {
      header .logo_wrapper {
        max-width: 400px; } }
    header .logo_wrapper img {
      display: block;
      max-width: 250px;
      width: 100%;
      margin-right: 30px; }
      @media screen and (max-width: 991px) {
        header .logo_wrapper img {
          max-width: 170px; } }
    header .logo_wrapper p {
      max-width: 255px;
      margin: 0;
      font-family: 'Gilroy 600', serif;
      font-style: normal;
      font-weight: 600;
      font-size: 13px;
      line-height: 18px;
      letter-spacing: 0.08em;
      color: #2B2A28; }
      @media screen and (max-width: 1150px) {
        header .logo_wrapper p {
          font-size: 12px;
          max-width: 180px; } }
      @media screen and (max-width: 991px) {
        header .logo_wrapper p {
          font-size: 10px;
          max-width: 150px; } }
  header .contact_us {
    max-width: 140px; }
    @media screen and (max-width: 768px) {
      header .contact_us {
        display: none; } }
    header .contact_us p {
      font-family: 'Gilroy 600', serif;
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 18px;
      letter-spacing: 0.08em;
      color: #2B2A28;
      margin-bottom: 4px; }
      @media screen and (max-width: 991px) {
        header .contact_us p {
          font-size: 10px; } }
    header .contact_us .header_messengers {
      display: flex;
      align-items: center; }
      header .contact_us .header_messengers a {
        display: inline-block;
        margin-right: 4px;
        text-decoration: none; }
        header .contact_us .header_messengers a span {
          display: flex;
          justify-content: center;
          align-items: center;
          background: #0DC143;
          width: 26px;
          height: 26px;
          border-radius: 50%; }
          header .contact_us .header_messengers a span:before {
            display: inline-block;
            content: "\f409";
            font-family: "Font Awesome 6 Brands", serif;
            font-weight: 400;
            font-size: 16px;
            color: white; }
        header .contact_us .header_messengers a:first-of-type span {
          background: #419FD9; }
          header .contact_us .header_messengers a:first-of-type span:before {
            content: "\f1d8";
            display: inline-block;
            font-family: "Font Awesome 6 Free", serif;
            font-weight: 400;
            font-size: 13px;
            position: relative;
            left: -1px; }
        header .contact_us .header_messengers a:last-of-type span {
          background: #675DA9; }
          header .contact_us .header_messengers a:last-of-type span:before {
            display: inline-block;
            content: "\f232";
            font-weight: 400;
            font-size: 17px;
            color: white; }
  header .header_tel {
    max-width: 180px; }
    @media screen and (max-width: 768px) {
      header .header_tel {
        display: none; } }
    header .header_tel p:first-of-type {
      font-family: 'Gilroy 700', serif;
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 16px;
      color: #2B2A28;
      margin-bottom: 7px;
      text-align: right; }
      @media screen and (max-width: 1150px) {
        header .header_tel p:first-of-type {
          font-size: 15px; } }
      @media screen and (max-width: 991px) {
        header .header_tel p:first-of-type {
          font-size: 13px; } }
    header .header_tel p:last-of-type {
      font-family: 'Gilroy 400', serif;
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;
      letter-spacing: 0.08em;
      color: #2B2A28;
      text-align: end; }
      @media screen and (max-width: 1150px) {
        header .header_tel p:last-of-type {
          font-size: 10px; } }
  header .header_buttom {
    max-width: 160px; }
    @media screen and (max-width: 768px) {
      header .header_buttom {
        display: none; } }
    header .header_buttom a {
      text-decoration: none;
      display: inline-block;
      font-family: 'Gilroy 700', serif;
      font-style: normal;
      font-weight: 700;
      font-size: 13px;
      line-height: 16px;
      text-align: center;
      color: #FFFFFF;
      padding: 15px 25px;
      background: linear-gradient(180deg, #F39C32 0%, #CB8734 100%);
      box-shadow: 0 4px 4px rgba(203, 135, 52, 0.2);
      border-radius: 4px;
      margin-bottom: 7px; }
      @media screen and (max-width: 1150px) {
        header .header_buttom a {
          padding: 10px 17px; } }
      @media screen and (max-width: 991px) {
        header .header_buttom a {
          font-size: 10px; } }
    header .header_buttom p {
      font-family: 'Gilroy 400', serif;
      font-style: normal;
      font-weight: 400;
      font-size: 11px;
      line-height: 18px;
      letter-spacing: 0.08em;
      color: #2B2A28;
      text-align: center; }
      @media screen and (max-width: 991px) {
        header .header_buttom p {
          font-size: 9px; } }
  header .header_language {
    max-width: 35px;
    display: flex;
    align-items: center;
    position: relative;
    top: -12px; }
    @media screen and (max-width: 768px) {
      header .header_language {
        display: none; } }
    header .header_language a {
      display: inline-block;
      margin-right: 5px; }
      header .header_language a img {
        display: block;
        width: 21px; }
    header .header_language i {
      font-size: 12px; }

.main_slider {
  height: 100vh;
  background: #FFFBF7;
  display: flex;
  align-items: center; }
  .main_slider .owl-carousel_1 {
    margin-top: 200px; }
  .main_slider .first_slide {
    display: flex; }
    .main_slider .first_slide .main_slider_left {
      padding-top: 120px;
      max-width: 551px; }
      .main_slider .first_slide .main_slider_left h1 {
        font-family: 'Gilroy 800', serif;
        font-style: normal;
        font-weight: 800;
        font-size: 38px;
        line-height: 50px;
        color: #2B2A28;
        margin-bottom: 8px; }
      .main_slider .first_slide .main_slider_left p {
        font-family: 'Gilroy 400', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
        color: #2B2A28;
        margin-bottom: 26px; }
      .main_slider .first_slide .main_slider_left .slider_button {
        display: flex;
        align-items: center; }
        .main_slider .first_slide .main_slider_left .slider_button a:first-of-type {
          display: inline-block;
          font-family: 'Gilroy 700', serif;
          font-style: normal;
          font-weight: 700;
          font-size: 16px;
          line-height: 16px;
          align-items: center;
          text-align: center;
          color: #FFFFFF;
          padding: 20px 30px;
          background: linear-gradient(180deg, #F39C32 0%, #CB8734 100%);
          box-shadow: 0 4px 4px rgba(203, 135, 52, 0.2);
          border-radius: 4px;
          text-decoration: none;
          margin-right: 80px; }
        .main_slider .first_slide .main_slider_left .slider_button a:last-of-type {
          font-family: 'Gilroy 600', serif;
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 16px;
          color: #CB8734;
          text-decoration: none;
          display: flex;
          align-items: center; }
          .main_slider .first_slide .main_slider_left .slider_button a:last-of-type span {
            border: 1.5px solid #CB8734;
            height: 30px;
            width: 30px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 12px; }
            .main_slider .first_slide .main_slider_left .slider_button a:last-of-type span:before {
              content: "\f105";
              font-family: "Font Awesome 6 Free", serif;
              font-weight: 900; }
    .main_slider .first_slide .main_slider_right {
      max-width: 615px; }
      .main_slider .first_slide .main_slider_right img {
        display: block;
        width: 100%; }

.why_we {
  height: 400px;
  background: #FFFBF7 0 no-repeat;
  position: relative; }
  .why_we .main_bg {
    height: 200px; }
    .why_we .main_bg .preferences {
      background: #FFFFFF;
      box-shadow: 0 0 30px rgba(43, 42, 40, 0.08);
      border-radius: 8px;
      padding: 56px 60px 50px 60px;
      position: relative;
      top: 40px; }
      .why_we .main_bg .preferences h2 {
        font-family: 'Gilroy 700', serif;
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 58px;
        color: #2B2A28;
        margin-bottom: 33px; }
      .why_we .main_bg .preferences .preferences_icons {
        display: flex;
        justify-content: space-between;
        text-align: center; }
        .why_we .main_bg .preferences .preferences_icons .pref1 {
          max-width: 240px;
          padding: 5px; }
        .why_we .main_bg .preferences .preferences_icons img {
          display: inline-block; }
        .why_we .main_bg .preferences .preferences_icons p {
          font-family: 'Gilroy 700', serif;
          font-style: normal;
          font-weight: 700;
          font-size: 15px;
          line-height: 30px;
          color: #2B2A28; }
  .why_we .white_bg {
    background: white;
    height: 200px; }

.catalog {
  padding: 50px 0 150px 0;
  background: white url("../images/catalog_bg.webp") 700px 150px no-repeat; }
  .catalog h2 {
    font-family: 'Gilroy 700', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 58px;
    color: #2B2A28;
    margin-bottom: 26px; }
  .catalog .upper_side {
    max-width: 800px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px; }
    .catalog .upper_side .zhiloe {
      max-width: 370px;
      width: 100%;
      background: #FFFFFF;
      box-shadow: 0 0 30px rgba(43, 42, 40, 0.08);
      padding: 5px 5px 50px 5px; }
      .catalog .upper_side .zhiloe .category_photo {
        max-width: 360px;
        border-bottom-left-radius: 36px;
        border-top-right-radius: 36px;
        overflow: hidden;
        height: 230px;
        margin-bottom: 36px;
        width: 100%; }
        .catalog .upper_side .zhiloe .category_photo img {
          display: block;
          width: 100%; }
      .catalog .upper_side .zhiloe .category_description {
        max-width: 301px;
        margin-left: 50px; }
      .catalog .upper_side .zhiloe h3 {
        font-family: 'Gilroy 400', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 30px;
        color: #2B2A28;
        margin-bottom: 9px; }
      .catalog .upper_side .zhiloe p {
        font-family: 'Gilroy 300', serif;
        font-style: normal;
        font-weight: 300;
        font-size: 15px;
        line-height: 28px;
        color: #2B2A28;
        margin-bottom: 14px; }
      .catalog .upper_side .zhiloe a {
        display: flex;
        font-family: 'Gilroy 600', serif;
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 16px;
        color: #CB8734;
        text-decoration: none;
        align-items: center; }
        .catalog .upper_side .zhiloe a span {
          margin-right: 12px;
          display: flex;
          width: 30px;
          height: 30px;
          border: 1.5px solid #CB8734;
          border-radius: 50%;
          justify-content: center;
          align-items: center; }
          .catalog .upper_side .zhiloe a span:before {
            content: "\f105";
            font-family: "Font Awesome 6 Free", serif;
            font-weight: 900; }
  .catalog .down_side {
    max-width: 770px;
    padding: 5px 5px  5px 50px;
    background: #FFFFFF;
    box-shadow: 0 0 30px rgba(43, 42, 40, 0.08);
    border-radius: 0 40px 0 0;
    display: flex;
    justify-content: space-between; }
    .catalog .down_side .category_description {
      max-width: 236px;
      padding-top: 50px; }
      .catalog .down_side .category_description h3 {
        font-family: 'Gilroy 400', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 30px;
        color: #2B2A28;
        margin-bottom: 8px; }
      .catalog .down_side .category_description p {
        font-family: 'Gilroy 300', serif;
        font-style: normal;
        font-weight: 300;
        font-size: 15px;
        line-height: 28px;
        color: #2B2A28;
        margin-bottom: 37px; }
      .catalog .down_side .category_description a {
        font-family: 'Gilroy 600', serif;
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 16px;
        display: flex;
        align-items: center;
        color: #CB8734;
        text-decoration: none; }
        .catalog .down_side .category_description a span {
          margin-right: 12px;
          display: flex;
          width: 30px;
          height: 30px;
          border: 1.5px solid #CB8734;
          border-radius: 50%;
          justify-content: center;
          align-items: center; }
          .catalog .down_side .category_description a span:before {
            content: "\f105";
            font-family: "Font Awesome 6 Free", serif;
            font-weight: 900; }
    .catalog .down_side .category_photo {
      max-width: 420px;
      width: 100%;
      height: 310px;
      background: #FFFFFF;
      box-shadow: 0 0 30px rgba(43, 42, 40, 0.08);
      border-radius: 0 36px 0 36px;
      overflow: hidden; }
      .catalog .down_side .category_photo img {
        display: block;
        width: 100%; }

/*# sourceMappingURL=style.css.map */
