@font-face {
  font-family: 'Gilroy 800';
  src: url('../fonts/Gilroy-ExtraBold.eot');
  src: local('../fonts/Gilroy ExtraBold'), local('Gilroy-ExtraBold'),
  url('../fonts/Gilroy-ExtraBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Gilroy-ExtraBold.woff') format('woff'),
  url('../fonts/Gilroy-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy 700';
  src: url('../fonts/Gilroy-Bold.eot');
  src: local('../fonts/Gilroy Bold'), local('Gilroy-Bold'),
  url('../fonts/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Gilroy-Bold.woff') format('woff'),
  url('../fonts/Gilroy-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy 600';
  src: url('../fonts/Gilroy-SemiBold.eot');
  src: local('../fonts/Gilroy SemiBold'), local('Gilroy-SemiBold'),
  url('../fonts/Gilroy-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Gilroy-SemiBold.woff') format('woff'),
  url('../fonts/Gilroy-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy 400';
  src: url('../fonts/Gilroy-Regular.eot');
  src: local('../fonts/Gilroy Regular'), local('Gilroy-Regular'),
  url('../fonts/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Gilroy-Regular.woff') format('woff'),
  url('../fonts/Gilroy-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy 300';
  src: url('../fonts/Gilroy-Light.eot');
  src: local('../fonts/Gilroy Light'), local('Gilroy-Light'),
  url('../fonts/Gilroy-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Gilroy-Light.woff') format('woff'),
  url('../fonts/Gilroy-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@import "menu.css";
@mixin max-screen($res) {
  @media screen and (max-width: $res) {
    @content;
  }
}


//body {
//  display: -webkit-box;
//  display: -webkit-flex;
//  display: -ms-flexbox;
//  display: flex;
//  -webkit-flex-wrap: wrap;
//  -ms-flex-wrap: wrap;
//  flex-wrap: wrap;
//  -webkit-justify-content: space-around;
//  -ms-flex-pack: distribute;
//  justify-content: space-around;
//  -webkit-box-align: center;
//  -webkit-align-items: center;
//  -ms-flex-align: center;
//  align-items: center;
//  -webkit-align-content: center;
//  -ms-flex-line-pack: center;
//  align-content: center;
//}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  //background: rgba(172,173,139,0.67) !important;
  //outline: 1px solid limegreen !important;
}

a {
  text-decoration: none;
}

ul, li, ol {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  font-size: inherit;
}


.container {
  max-width: 1170px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.d-flex{
  display: flex;
}


header {
  padding-top: 22px;
  padding-bottom: 15px;
  background: #FFFBF7;

  top: 0;
  width: 100%;
  z-index: 2;

  .header_row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
    position: relative;
    @include max-screen(768px) {
      justify-content: center;
    }

    .logo_wrapper {
      max-width: 540px;
      justify-content: space-between;
      display: flex;
      align-items: start;

      @include max-screen(1150px) {
        align-items: center;
      }
      @include max-screen(991px) {
        max-width: 400px;
      }

      img {
        display: block;
        max-width: 250px;
        width: 100%;
        margin-right: 30px;
        @include max-screen(991px) {
          max-width: 170px;
        }
      }

      p {
        max-width: 255px;
        margin: 0;
        font-family: 'Gilroy 600', serif;
        font-style: normal;
        font-weight: 600;
        font-size: 13px;
        line-height: 18px;
        letter-spacing: 0.08em;
        color: #2B2A28;
        @include max-screen(1150px) {
          font-size: 12px;
          max-width: 180px;
        }
        @include max-screen(991px) {
          font-size: 10px;
          max-width: 150px;
        }
        @include max-screen(768px) {
          display: none;
        }
      }
    }

    .contact_us {
      max-width: 140px;
      @include max-screen(768px) {
        display: none;
      }

      p {
        font-family: 'Gilroy 600', serif;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 0.08em;
        color: #2B2A28;
        margin-bottom: 4px;
        @include max-screen(991px) {
          font-size: 10px;
        }
      }

      .header_messengers {
        display: flex;
        align-items: center;

        a {
          display: inline-block;
          margin-right: 4px;
          text-decoration: none;

          span {
            display: flex;
            justify-content: center;
            align-items: center;
            background: #0DC143;
            width: 26px;
            height: 26px;
            border-radius: 50%;

            &:before {
              display: inline-block;
              content: "\f409";
              font-family: "Font Awesome 6 Brands", serif;
              font-weight: 400;
              font-size: 16px;
              color: white;

            }
          }

          &:first-of-type span {
            background: #419FD9;

            &:before {
              content: "\f1d8";
              display: inline-block;
              font-family: "Font Awesome 6 Free", serif;
              font-weight: 400;
              font-size: 13px;
              position: relative;
              left: -1px;
            }
          }

          &:last-of-type span {
            background: #675DA9;

            &:before {
              display: inline-block;
              content: "\f232";
              font-weight: 400;
              font-size: 17px;
              color: white;
              position: relative;
              top: -1px;
              left: 1px;
            }
          }
        }
      }
    }

    .header_tel {
      max-width: 190px;
      @include max-screen(768px) {
        display: none;
      }

      p:first-of-type {
        font-family: 'Gilroy 700', serif;
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 16px;
        color: #2B2A28;
        margin-bottom: 7px;
        text-align: right;
        @include max-screen(1150px) {
          font-size: 15px;
        }
        @include max-screen(991px) {
          font-size: 13px;
        }
        @include max-screen(800px) {
          font-size: 11px;
        }
      }

      p:last-of-type {
        font-family: 'Gilroy 400', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 0.08em;
        color: #2B2A28;
        text-align: end;
        @include max-screen(1150px) {
          font-size: 10px;
        }
        @include max-screen(800px) {
          font-size: 8px;
        }
      }
    }

    .header_button {
      max-width: 160px;
      @include max-screen(768px) {
        display: none;
      }

      .btn_header {
        box-sizing: border-box;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-align-self: center;
        -ms-flex-item-align: center;
        align-self: center;
        padding: 16px 25px;
        text-decoration: none;
        text-align: center;
        font-family: 'Gilroy 700', serif;
        font-style: normal;
        font-weight: 700;
        font-size: 13px;
        line-height: 16px;
        color: #FFFFFF;
        @include max-screen(991px) {
          padding: 10px 15px;
          font-size: 10px;
        }
      }

      .btn_header:hover, .btn_header:focus {
        color: white;
        outline: 0;
      }

      .btn_header {
        color: #fff;
        background: linear-gradient(180deg, #F39C32 0%, #CB8734 100%);
        -webkit-transition: all 150ms ease-in-out;
        transition: all 150ms ease-in-out;
      }

      .btn_header:hover {
        box-shadow: 0 0 20px 0 #F39C32 inset, 0 0 20px 4px #F39C32;
      }
    }

    .header_button {
      max-width: 160px;
      @include max-screen(768px) {
        display: none;
      }

      a {
        text-decoration: none;
        display: inline-block;
        font-family: 'Gilroy 700', serif;
        font-style: normal;
        font-weight: 700;
        font-size: 13px;
        line-height: 16px;
        text-align: center;
        color: #FFFFFF;
        padding: 15px 25px;
        background: linear-gradient(180deg, #F39C32 0%, #CB8734 100%);
        box-shadow: 0 4px 4px rgba(203, 135, 52, 0.2);
        border-radius: 4px;
        margin-bottom: 7px;
        @include max-screen(1150px) {
          padding: 10px 17px;
        }
        @include max-screen(991px) {
          font-size: 10px;
        }
      }

      p {
        font-family: 'Gilroy 400', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 11px;
        line-height: 18px;
        letter-spacing: 0.08em;
        color: #2B2A28;
        text-align: center;
        @include max-screen(991px) {
          font-size: 9px;
        }
      }
    }

    .header_language {
      max-width: 35px;
      display: flex;
      align-items: center;
      position: relative;
      top: -12px;
      @include max-screen(768px) {
        display: none;
      }

      a {
        display: inline-block;
        margin-right: 5px;

        img {
          display: block;
          width: 21px;
        }
      }

      i {
        font-size: 12px;
      }
    }
  }

  .mobile_phone_icon {
    display: none;
    @include max-screen(768px) {
      display: block;
      position: absolute;
      top: 6px;
      right: 15px;
    }

    a {
      display: inline-block;
      text-decoration: none;
      padding: 10px;
      background: #D6D6D6;
      border-radius: 4px;
      color: white;
    }
  }

  .circle1 {
    border-radius: 100%;
    width: 30px;
    height: 30px;
    -webkit-animation: pulsing1 3s infinite;
    animation: pulsing1 3s infinite;
  }

  @-webkit-keyframes pulsing {
    0% {
      -webkit-transform: scale(0.5, 0.5);
      transform: scale(0.5, 0.5)
    }
    50% {
      -webkit-transform: scale(1.0, 1.0);
      transform: scale(1.0, 1.0);
    }
    100% {
      -webkit-transform: scale(0.5, 0.5);
      transform: scale(0.5, 0.5);
    }
  }

  @keyframes pulsing1 {
    0% {
      -webkit-transform: scale(0.8, 0.8);
      transform: scale(0.8, 0.8)
    }
    50% {
      -webkit-transform: scale(1.0, 1.0);
      transform: scale(1.0, 1.0);
    }
    100% {
      -webkit-transform: scale(0.8, 0.8);
      transform: scale(0.8, 0.8);
    }
  }

  .circle2 {
    border-radius: 100%;
    width: 30px;
    height: 30px;
    -webkit-animation: pulsing1 3.1s infinite;
    animation: pulsing1 3.1s infinite;
  }

  @keyframes pulsing1 {
    0% {
      -webkit-transform: scale(0.8, 0.8);
      transform: scale(0.8, 0.8)
    }
    50% {
      -webkit-transform: scale(1.0, 1.0);
      transform: scale(1.0, 1.0);
    }
    100% {
      -webkit-transform: scale(0.8, 0.8);
      transform: scale(0.8, 0.8);
    }
  }

  .circle3 {
    border-radius: 100%;
    width: 30px;
    height: 30px;
    -webkit-animation: pulsing1 3.2s infinite;
    animation: pulsing1 3.2s infinite;
  }

  @keyframes pulsing3 {
    0% {
      -webkit-transform: scale(0.8, 0.8);
      transform: scale(0.8, 0.8)
    }
    50% {
      -webkit-transform: scale(1.0, 1.0);
      transform: scale(1.0, 1.0);
    }
    100% {
      -webkit-transform: scale(0.8, 0.8);
      transform: scale(0.8, 0.8);
    }
  }
}

.main_banner {
  background: #FFFBF7;

  .slider_container {
    max-width: 1170px;
    margin: auto;
  }

  .owl-carousel1 {
    .container {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      @include max-screen(986px) {
        justify-content: center;
      }

      .left_side {
        flex-basis: 551px;
        flex-shrink: 0;
        align-self: center;
        @include max-screen(986px) {
          flex-shrink: 1;
          justify-content: center;
          margin-bottom: 30px;
        }

        h1 {
          font-family: 'Gilroy 800', serif;
          font-style: normal;
          font-weight: 800;
          font-size: 38px;
          line-height: 50px;
          color: #2B2A28;
          margin-bottom: 8px;
          @include max-screen(986px) {
            font-size: 33px;
          }
          @include max-screen(540px) {
            font-size: 25px;
            line-height: 30px;
          }
        }

        p {
          font-family: 'Gilroy 400', serif;
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 30px;
          color: #2B2A28;
          margin-bottom: 26px;
          @include max-screen(986px) {
            font-size: 15px;
          }
        }

        .slider_button {
          display: flex;
          align-items: center;
          @include max-screen(986px) {
            justify-content: space-between;
          }

          a:first-of-type {
            display: inline-block;
            font-family: 'Gilroy 700', serif;
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 16px;
            align-items: center;
            text-align: center;
            color: #FFFFFF;
            padding: 20px 30px;
            background: linear-gradient(180deg, #F39C32 0%, #CB8734 100%);
            box-shadow: 0 4px 4px rgba(203, 135, 52, 0.2);
            border-radius: 4px;
            text-decoration: none;
            margin-right: 80px;
            @include max-screen(986px) {
              margin-right: 0;
            }
            @include max-screen(768px) {
              font-size: 14px;
            }
            @include max-screen(540px) {
              font-size: 12px;
              padding: 10px;
            }
          }

          a:last-of-type {
            font-family: 'Gilroy 600', serif;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 16px;
            color: #CB8734;
            text-decoration: none;
            display: flex;
            align-items: center;
            @include max-screen(540px) {
              font-size: 12px;

            }

            span {
              border: 1.5px solid #CB8734;
              height: 30px;
              width: 30px;
              border-radius: 50%;
              display: flex;
              align-items: center;
              justify-content: center;
              margin-right: 12px;
              @include max-screen(540px) {
                margin-right: 5px;
              }

              &:before {
                content: "\f105";
                font-family: "Font Awesome 6 Free", serif;
                font-weight: 900;
              }
            }
          }
        }
      }

      .right_side {
        flex-basis: 580px;
        flex-shrink: 0;
        display: flex;
        justify-content: end;
        @include max-screen(1168px) {
          flex-basis: 400px;
        }
        @include max-screen(986px) {
          flex-basis: 100%;
          justify-content: center;
        }

        img {
          display: block;
          width: 100%;
          @include max-screen(1168px) {
            width: 100%;
          }
          @include max-screen(986px) {
            width: 70%;
          }
        }
      }
    }
  }
}

.why_we {
  background: #FFFBF7;

  .main_bg {
    .preferences {
      background: #FFFFFF;
      box-shadow: 0 0 30px rgba(43, 42, 40, 0.08);
      border-radius: 8px;
      padding-top: 56px;
      padding-bottom: 50px;


      h2 {
        font-family: 'Gilroy 700', serif;
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 58px;
        color: #2B2A28;
        margin-bottom: 33px;
        @include max-screen(600px) {
          text-align: center;
        }
        @include max-screen(500px) {
          font-size: 32px;
        }


      }

      .preferences_icons {
        display: flex;
        justify-content: space-between;
        text-align: center;
        flex-wrap: wrap;
        padding: 0;
        @include max-screen(1080px) {
          justify-content: space-around;
        }
        @include max-screen(600px) {
          flex-direction: column;
          align-items: center;
        }

        .pref1 {
          flex-basis: 260px;
          padding: 5px;
          flex-wrap: wrap;
          margin-bottom: 10px;
          @include max-screen(600px) {
            flex-basis: inherit;
            width: 250px;
            margin-bottom: 20px;
          }
        }

        img {
          display: inline-block;
        }

        p {
          font-family: 'Gilroy 700', serif;
          font-style: normal;
          font-weight: 700;
          font-size: 15px;
          line-height: 30px;
          color: #2B2A28;
          @include max-screen(768px) {
            font-size: 13px;
          }

        }
      }
    }
  }
}

.catalog {
  background: url("../images/catalog_bg.webp") 700px 150px no-repeat;
  padding: 100px 0 100px 0;

  @include max-screen(1600px) {
    background-position: 550px 150px;
  }
  @include max-screen(1400px) {
    background-position: 300px 150px;
  }
  @include max-screen(768px) {
    background: inherit;
  }

  h2 {
    font-family: 'Gilroy 700', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 58px;
    color: #2B2A28;
    margin-bottom: 26px;
  }

  h4 {
    font-family: 'Gilroy 400', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    color: #2B2A28;
    margin-bottom: 9px;
  }

  p {
    font-family: 'Gilroy 300', serif;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 28px;
    color: #2B2A28;
    margin-bottom: 23px;
  }

  a {
    display: flex;
    font-family: 'Gilroy 600', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 16px;
    color: #CB8734;
    text-decoration: none;
    align-items: center;
    @include max-screen(768px) {
      font-size: 12px;
    }

    span {
      margin-right: 12px;
      display: flex;
      width: 30px;
      height: 30px;
      border: 1.5px solid #CB8734;
      border-radius: 50%;
      justify-content: center;
      align-items: center;

      &:before {
        content: "\f105";
        font-family: "Font Awesome 6 Free", serif;
        font-weight: 900;
      }
    }
  }

  .catalog_container_up {
    max-width: 770px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;
    @include max-screen(771px) {
      justify-content: center;
      margin-bottom: inherit;
    }

    .item {
      flex-basis: 370px;
      flex-shrink: 0;
      background: #FFFFFF;
      box-shadow: 0 0 30px rgba(43, 42, 40, 0.08);
      border-radius: 0 40px 0 0;
      padding: 5px 5px 50px 5px;
      @include max-screen(775px) {
        margin-bottom: 20px;
      }
      @include max-screen(450px) {
        flex-shrink: 1;
      }

      .item_img {
        width: 100%;
        height: 230px;
        border-radius: 0 36px;
        background: #FFFFFF;
        overflow: hidden;
        margin-bottom: 36px;

        img {
          display: block;
          width: 100%;
          height: 100%;
        }
      }

      .category_text {
        max-width: 305px;
        margin-left: 45px;
      }
    }
  }

  .catalog_container_down {
    max-width: 770px;
    padding: 5px;

    @include max-screen(772px) {
      max-width: 370px;
      margin: auto;
    }

    .item_2 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: #FFFFFF;
      box-shadow: 0 0 30px rgba(43, 42, 40, 0.08);
      border-radius: 0 40px 0 0;
      padding: 5px;
      @include max-screen(772px) {
        flex-direction: column;
        padding: 5px;
      }

      .category_text {
        margin-left: 45px;
        max-width: 280px;
        @include max-screen(772px) {
          order: 2;
          margin-bottom: 50px;
        }
      }
    }

    .item_img {
      max-width: 420px;
      width: 100%;
      height: 310px;
      border-radius: 0 36px;
      background: #FFFFFF;
      overflow: hidden;

      @include max-screen(772px) {
        height: 230px;
        order: 1;
        margin-bottom: 36px;
        .img {
          display: block;
          width: 100%;
        }
      }
    }
  }
}

.construction {
  padding: 120px 0 120px 0;
  background: #FFFBF7;

  h2 {
    font-family: 'Gilroy 700', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    color: #2B2A28;
    margin-bottom: 58px;
  }

  h4 {
    font-family: 'Gilroy 400', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #2B2A28;
    margin-bottom: 10px;
    @include max-screen(570px) {
      font-size: 25px;
    }
    @include max-screen(400px) {
      font-size: 20px;
      line-height: 25px;
    }
  }

  p {
    font-family: 'Gilroy 300', serif;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 30px;
    color: #2B2A28;
    max-width: 485px;
    @include max-screen(570px) {
      font-size: 12px;
    }
    @include max-screen(400px) {
      line-height: 20px;
    }
  }

  span {
    font-family: 'Gilroy 800', serif;
    font-style: normal;
    font-weight: 800;
    font-size: 140px;
    line-height: 30px;
    text-align: right;
    color: #CB8734;
    opacity: 0.1;
    position: absolute;
    bottom: 34px;
    right: 15px;
    display: block;
    @include max-screen(400px) {
      font-size: 100px;
    }
  }

  .flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;
    @include max-screen(1139px) {
      justify-content: center;
    }

    .constr_item {
      flex-basis: 570px;
      padding: 42px 39px 50px 39px;
      margin-bottom: 58px;
      background: #FFFFFF;
      box-shadow: 0 0 30px rgba(43, 42, 40, 0.08);
      border-radius: 8px;
      position: relative;
      @include max-screen(1139px) {
        margin-bottom: 58px;
      }
      @include max-screen(500px) {
        padding-left: 15px;
        padding-right: 15px;
      }


      img {
        display: block;
        position: absolute;
        top: -47px;
        right: 26px;
        @include max-screen(570px) {
          width: 30%;
        }
      }

      .const2_img {
        top: -70px;
        right: 10px;
        z-index: 2;
        @include max-screen(450px) {
          top: -40px;
        }
      }

      .const3_img {
        @include max-screen(450px) {
          top: -10px;
        }
      }
    }
  }

  .const-slider {

    text-align: center;
  }

  .owl-carousel2 {
    margin-bottom: 40px;
  }

  .construction_slide1 {
    height: 520px;
    width: 100%;
    border-radius: 0 100px;
    overflow: hidden;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  a {
    background: linear-gradient(180deg, #F39C32 0%, #CB8734 100%);
    box-shadow: 0 4px 4px rgba(203, 135, 52, 0.2);
    border-radius: 4px;
    font-family: 'Gilroy 700', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    padding: 20px 30px;
  }
}

.about_company {
  padding: 140px 0 140px 0;
  background: url("../images/about_bg_top.png") 100% 0 no-repeat, url("../images/about_bg_bottom.png") 0 100% no-repeat;

  .container:last-of-type {
    position: relative;
  }

  h2 {
    font-family: 'Gilroy 700', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    color: #2B2A28;
    margin-bottom: 67px;
    @include max-screen(505px) {
      font-size: 30px;
      text-align: center;
    }
  }

  .about_image {
    position: relative;
    margin-bottom: 180px;


    img:first-of-type {
      display: block;
      width: 100%;
      border-radius: 0 100px;
      @include max-screen(620px) {
        display: none;
      }
    }

    img:last-of-type {
      position: absolute;
      top: -70px;
      left: 350px;
      @include max-screen(1100px) {
        left: 300px;
      }
      @include max-screen(1000px) {
        width: 30%;
        left: 320px;
      }
      @include max-screen(850px) {
        left: 320px;
      }
      @include max-screen(810px) {
        left: 250px;
      }
      @include max-screen(710px) {
        left: 220px;
      }
      @include max-screen(710px) {
        left: 200px;
        top: 0;
      }
      @include max-screen(620px) {
        position: absolute;
        left: 200px;
        top: -70px;
      }
      @include max-screen(510px) {
        left: 150px;
        top: -50px;
      }
      @include max-screen(445px) {
        left: 150px;
        top: -30px;
        width: 40%;
      }
      @include max-screen(370px) {
        left: 100px;
      }
    }
  }


  .description_bg {
    max-width: 570px;
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0 0 30px rgba(43, 42, 40, 0.08);
    border-radius: 8px;
    padding: 41px 50px 35px 119px;
    position: absolute;
    bottom: -90px;
    left: 300px;
    @include max-screen(1100px) {
      left: 250px;
    }
    @include max-screen(1000px) {
      left: 200px;
    }
    @include max-screen(850px) {
      left: 200px;
      max-width: 450px;
    }
    @include max-screen(810px) {
      left: 150px;
    }
    @include max-screen(710px) {
      left: 100px;
      padding: 15px 15px 15px 100px;
    }
    @include max-screen(620px) {
      position: relative;
      left: inherit;
      top: inherit;
      margin: auto;
    }
    @include max-screen(445px) {
      padding: 15px 15px 15px 60px;

    }

    .description {
      position: relative;


      .s_00006 {
        position: absolute;
        top: 0;
        left: -80px;
        @include max-screen(445px) {
          width: 30px;
          left: -50px;
        }
      }

      h4 {
        font-family: 'Gilroy 400', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 30px;
        color: #2B2A28;
        margin-bottom: 6px;
        @include max-screen(850px) {
          font-size: 18px;
        }
      }

      p {
        font-family: 'Gilroy 300', serif;
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 26px;
        color: #2B2A28;
        @include max-screen(850px) {
          font-size: 12px;
        }
      }
    }
  }

  .about_items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 38px;
    @include max-screen(1109px) {
      justify-content: space-around;
    }

    .item {
      flex-basis: 270px;
      height: 181px;
      flex-shrink: 0;
      @include max-screen(1109px) {
        margin-bottom: 20px;
      }
      @include max-screen(570px) {
        margin-bottom: 40px;
      }

      p {
        font-family: 'Gilroy 400', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 60px;
        line-height: 30px;
        color: #CB8734;
        padding-bottom: 29px;
        border-bottom: 2px solid #CB8734;
        margin-bottom: 18px;

        span {
          font-family: 'Gilroy 400', serif;
          font-style: normal;
          font-weight: 400;
          line-height: 30px;
          color: #CB8734;
          font-size: 30px;
        }
      }

      span {
        font-family: 'Gilroy 300', serif;
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 30px;
        color: #2B2A28;
      }

    }
  }

  .container:last-of-type {
    text-align: center;
  }

  a {
    display: inline-block;
    padding: 20px 30px;
    background: linear-gradient(180deg, #F39C32 0%, #CB8734 100%);
    box-shadow: 0 4px 4px rgba(203, 135, 52, 0.2);
    border-radius: 4px;
    font-family: 'Gilroy 700', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
  }
}

.three_types {
  padding: 140px 0 140px 0;
  background: #FFFBF7;

  h2 {
    font-family: 'Gilroy 700', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    color: #2B2A28;
    margin-bottom: 45px;
    @include max-screen(650px) {
      font-size: 30px;
    }
  }

  p {
    font-family: 'Gilroy 400', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    color: #2B2A28;
    margin-bottom: 13px;
  }

  a {
    display: block;
    font-family: 'Gilroy 300', serif;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 22px;
    color: #2B2A28;

  }

  .container:last-of-type {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @include max-screen(1169px) {
      justify-content: space-around;
    }


    .types_item_bg {
      padding: 5px 5px 50px 5px;
      background: #FFFFFF;
      box-shadow: 0 0 30px rgba(43, 42, 40, 0.08);
      border-radius: 0 40px 0 0;
      flex-basis: 370px;
      flex-shrink: 0;
      margin-right: 10px;
      margin-bottom: 20px;
      @include max-screen(400px) {
        flex-basis: 340px;
      }
      @include max-screen(400px) {
        flex-basis: 310px;
      }
      @include max-screen(600px) {
        margin-right: 0;
      }

      .types_item_img {
        border-radius: 0 36px;
        overflow: hidden;
        margin-bottom: 36px;

        img {
          height: 100%;
          width: 100%;
        }
      }

      .types_description {
        max-width: 305px;
        margin: auto auto auto 20px;

        ul {
          li {
            display: flex;
            align-items: center;

            &:before {
              content: "\f105";
              font-family: "Font Awesome 6 Free", serif;
              font-weight: 900;
              padding-right: 15px;
              color: #CB8734;
            }
          }
        }
      }
    }
  }
}

.articles {
  padding: 140px 0 140px 0;

  .slider_articles {
    position: relative;
  }

  h2 {
    font-family: 'Gilroy 700', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    color: #2B2A28;
    margin-bottom: 40px;
  }

  p:first-of-type {
    font-family: 'Gilroy 400', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #2B2A28;
    margin-bottom: 15px;
    @include max-screen(1100px) {
      font-size: 17px;
    }
  }

  p:last-of-type {
    font-family: 'Gilroy 300', serif;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 30px;
    color: #2B2A28;
    @include max-screen(1100px) {
      font-size: 13px;
    }
  }

  .owl-carousel3 {
    .slider_item {
      .slider_item_img {
        height: 260px;
        border-radius: 0 36px;
        overflow: hidden;
        margin-bottom: 27px;
        position: relative;

        img {
          display: block;
          height: 100%;
          width: 100%;
          object-fit: contain;
        }
      }
    }

    margin-bottom: 120px;
  }

  .owl-prev:before {
    content: "\f177";
    font-family: "Font Awesome 6 Free", serif;
    font-weight: 900;
    display: inline-block;
    color: #CB8734;
    font-size: 30px;

  }

  .owl-next:before {
    content: "\f178";
    font-family: "Font Awesome 6 Free", serif;
    font-weight: 900;
    display: inline-block;
    color: #CB8734;
    font-size: 30px;

  }

  .owl-nav {
    width: 100px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: -80px;
    right: 0;
    @include max-screen(991px) {
      display: none;
    }

    span {
      display: none;
    }
  }

  .slider_item_description {
    max-width: 350px;
    margin: auto;
  }

  article {
    display: inline-block;
    background: #CB8734;
    border-radius: 4px;
    padding: 12px 20px;
    font-family: 'Gilroy 700', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 11px;
    line-height: 12px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    position: absolute;
    top: 20px;
    left: 20px;
    @include max-screen(1170px) {
      top: 30px;
      left: 15px;
    }
    @include max-screen(999px) {
      top: 20px;
      left: 65px;
    }
    @include max-screen(920px) {
      top: 20px;
      left: 40px;
    }
    @include max-screen(860px) {
      top: 20px;
      left: 30px;
    }
    @include max-screen(750px) {
      top: 30px;
      left: 20px;
    }
    @include max-screen(750px) {
      top: 40px;
      left: 20px;
    }
    @include max-screen(599px) {
      top: 20px;
      left: 120px;
    }
    @include max-screen(550px) {
      top: 20px;
      left: 86px;
    }
    @include max-screen(500px) {
      top: 20px;
      left: 60px;
    }
    @include max-screen(450px) {
      top: 20px;
      left: 40px;
    }
    @include max-screen(400px) {
      top: 20px;
      left: 15px;
    }
    @include max-screen(370px) {
      top: 30px;
      left: 15px;
    }
    @include max-screen(340px) {
      top: 40px;
      left: 15px;
    }

  }

  .container:last-of-type {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .seo_text {
      max-width: 50%;
      @include max-screen(730px) {
        max-width: 100%;
      }

      h2 {
        margin-bottom: 12px;
        @include max-screen(940px) {
          font-size: 30px;
        }
        @include max-screen(790px) {
          font-size: 24px;
        }

      }
    }

    .seo_img {
      max-width: 570px;
      border-radius: 0 100px;
      overflow: hidden;
      margin-left: 20px;
      @include max-screen(730px) {
        display: none;
      }

      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: contain;
      }

    }
  }
}

footer {
  padding: 30px 0 30px 0;
  background: #FFFBF7;

  ul {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    a {
      font-family: 'Gilroy 600', serif;
      font-style: normal;
      font-size: 20px;
      line-height: 22px;
      color: #2B2A28;
    }

    li {

      img {
        display: block;
        max-width: 100%;
        margin-bottom: 5px;
      }

      &:first-of-type p {
        font-family: 'Gilroy 600', serif;
        font-style: normal;
        font-weight: 600;
        font-size: 13px;
        line-height: 18px;
        letter-spacing: 0.08em;
        color: #2B2A28;
      }

      &:nth-child(2) a, &:nth-child(3) a, &:nth-child(4) a {
        display: inline-block;
        padding: 15px;
        color: black;

        &:hover {
          opacity: 0.7;
        }
      }
    }

    .footer_tel {
      display: block;

      a:first-of-type {
        display: block;
       margin-bottom: 8px;
      }

      a:last-of-type {
        font-family: 'Gilroy 300', serif;
        font-style: normal;
        font-weight: 300;
        font-size: 15px;
      }

      p {
        font-family: 'Gilroy 400', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 11px;
        line-height: 18px;
        letter-spacing: 0.08em;
        color: #2B2A28;
        margin-bottom: 8px;
      }
    }
  }
}

.footer_rights {
  height: 83px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FFFBF7;
  border-top: 2px solid #E7D8C7;

  p {
    font-family: 'Gilroy 300', serif;
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 22px;
    text-align: center;
    color: #2B2A28;
    opacity: 0.7;
  }
}







.catalog_item {
  background: #E5E5E5;
  padding: 19px 0 0 145px;

  p {
    font-family: 'Gilroy 400', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    color: #828282;
    margin-bottom: 30px;
  }

  h2 {
    font-family: 'Gilroy 700', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 58px;
    color: #2B2A28;
    margin-bottom: 40px;
  }


  .filter_block {
    max-width:  270px;
    width: 100%;
    margin-right: 20px;
    align-self: start;
    .accordion {
      max-width: 270px;
      background: #FFFFFF;
      box-shadow: 0 0 30px rgba(43, 42, 40, 0.08);
      border-radius: 8px;
      position: relative;
      margin-bottom: 20px;

    }

    .heading {
      font-family: 'Gilroy 700', serif;
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 16px;
      color: #2B2A28;
      cursor: pointer;
      padding: 24px 0 24px 20px;
    }

    .heading::before {
      content: "\f106";
      font-family: "Font Awesome 6 Free", serif;
      font-weight: 900;
      color: #CB8734;
      display: inline-block;
      transform: rotate(0);
      transition: all 0.5s;
      position: absolute;
      top: 25px;
      right: 20px;

    }

    .active.heading::before {
      transform: rotate(-180deg);
    }

    .not-active.heading::before {
      transform: rotate(0deg);
    }

    .contents {
      display: none;
      padding: 15px;
      color: #7f8fa4;
      font-size: 13px;
      line-height: 1.5;
      background: white;
      border-radius: 0 0 8px 8px;
    }

    h1 {
      font-size: 40px;
      color: #000;
      font-weight: normal;
      text-align: center;
      margin: 50px 0;
    }

    .links {
      li {
        margin-bottom: 10px;

        &:last-of-type {
          margin-bottom: 0;
        }

        a {
          font-family: 'Gilroy 300', serif;
          font-style: normal;
          font-weight: 300;
          font-size: 15px;
          line-height: 22px;
          color: #2B2A28;
        }
      }
    }
  }
  .goods_block{
    width: 100%;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    .goods_item_bg{
      flex-basis: 270px;
      flex-shrink: 0;
      background: #FFFFFF;
      box-shadow: 0 0 30px rgba(43, 42, 40, 0.08);
      border-radius: 0 40px 0 0;
      padding: 5px 5px 25px 5px;
      margin-bottom: 20px;
      .good_item_img{
        max-width: 260px;
        height: 180px;
        overflow: hidden;
        border-radius: 0 36px;
        margin-bottom: 25px;
        img{
          display: block;
          width: 100%;
          height: 100%;
        }
      }
      h3{
        margin-bottom: 15px;
        margin-left: 18px;
        font-family: 'Gilroy 400', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 26px;
        color: #2B2A28;
      }
      .goods_parameters{
        display: flex;
        .size{
          width: 104px;
          margin-left: 18px;

          display: flex;
          img{
            width: 24px;
            height: 24px;
            display: block;
            margin-right: 5px;
          }
          p{
            font-family: 'Gilroy 300', serif;
            font-style: normal;
            font-weight: 300;
            font-size: 12px;
            line-height: 24px;

            letter-spacing: 0.1em;
            color: #2B2A28;
          }
        }
      }

      .price{
        max-width: 244px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        a{
          font-family: 'Gilroy 600', serif;
          font-style: normal;
          font-weight: 600;
          font-size: 12px;
          line-height: 16px;
          text-align: center;
          color: #FFFFFF;
          background: linear-gradient(180deg, #F39C32 0%, #CB8734 100%);
          box-shadow: 0 4px 4px rgba(203, 135, 52, 0.2);
          border-radius: 4px;
          padding: 10px 10px;
          display: block;
          margin-left: 18px;
        }
        p{
          display: block;
          font-family: 'Gilroy 700', serif;
          font-style: normal;
          font-weight: 700;
          font-size: 13px;
          line-height: 16px;
          text-align: center;
          color: #2B2A28;
          margin-bottom: 0;

        }

      }
    }
  }
}



